{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}
{% block main %}
    <body style ="background:url({{url_for('static',filename= 'fruits.jpg')}}); background-repeat: no-repeat; background-size: cover">
    <form action="/register" method="post">
        <div class = "login">
            <div class = "container" id = "add">
                <div class = "top-header">
                    <header>Register</header>
                </div>

                <div class = "input-field">
                    <input type = "text" autocomplete = "off" class = "input" placeholder = "Username" name = "username">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class = "input-field">
                    <input type = "password" autocomplete = "off" class = "input" placeholder = "Password" name="password">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <div class = "input-field">
                    <input type = "password" class = "input" placeholder = "Password (again)" name = "confirmation">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <div class = "input-field">
                    <button type = "submit" class = "submit">Register</button>
                </div>
            </div>

        </div>
    </form>
{% endblock %}
